@media (max-width:991px){
.nav-item{
    width: fit-content;
}
}

@media (max-width:768px){
    .about .count{
       border: none !important;
    }
    .download-resume .brands{
        justify-content: center !important;
    }
    .download-resume .download{
        text-align: center;
        margin-bottom: 2rem;
    }
    .resume {
        font-size: 12px;
    }
}
@media (max-width:568px){
    header{
        background-position-x: -235px;
        background-repeat: no-repeat;
    }
    .header-content{
        text-align: start !important;
    }
    .contact p , .contact form{
      width: 100%;
    }
    .about span{
        font-size: 12px;
    }
}
@media(max-width:450px){
    .about span{
        font-size: 8px;
    }
}
@media(max-width:409px){
    .about i{
        padding: 0px;
    }
}